/***
Fantasy Football Styles
CSS Class Layout - Design, Positioning, Other
HTML Tags - type, class, style, name, id, onclick, placeholder
***/

@import url("modalStylesheet.css");

/*** GENERAL ***/

body {
	background: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

/*** AESTHETIC ***/

table, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th {
    border: 2px solid black;
}

input[type=text], input[type=password], input[type=number] {
	width: 40px;
	padding: 4px 8px;
	margin: 5px 20px 5px 0px;
	border: 1px solid #ccc;
}

label {
	font-weight: bold;
}

a, a:visited {
	text-decoration: none;
	font-weight: bold;
	color: aqua;
}

a:hover {
	text-decoration: underline;
	font-weight: bold;
}

button, input[type=button], input[type=submit] {
	background: #b22222;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-align: center; 
	
	width: 200px;
	height: 50px;
	margin: 5px auto 0px auto;
}

button:hover, input[type=button]:hover, input[type=submit]:hover {
	background: #de5454;
}

/*** NAV and LAYOUT ***/

.titleBanner, .footerBanner {
	background: black;
	text-align: center;
	
	width: 100%;
	padding: 10px 0 10px 0;
}

.footerBanner {
	position: fixed;
	bottom: 0;
}

.title, .subTitle, .footer {
	color: white;
}

.title {
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
}

.subTitle {
	font-size: 1em;
	text-transform: lowercase;
}

.content {
	text-align: center;
	width: 100%;
	margin-bottom: 100px;
}

.tab {
	width: 60%;
	margin: 0 auto;
}

.inputSection {
	margin: 10px auto 0px auto;
}

.navBarFixed {
	top: 0;
	z-index: 10;
	position: fixed;
}

.navBar, .navBarFixed {
	background: black;
	text-align: center;
	
	width: 100%;
	padding: 5px 0 5px 0;
	display: flex;
    display: -webkit-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.navTab,.navPage {
	color: white;
	text-transform: lowercase;
	
	width: 200px;
}

.navTab:hover,.navPage:hover {
	cursor: pointer;
	color: lightGray;
}

/*** OTHER ***/

.imageBanner {
	background-size: contain;
	background-position: center center;
	background-repeat: repeat-x;

	width: 100%;
}

.smallButton {
	font-size: 12px;
	
	width: 120px;
	height: 35px;
}